@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "seti";
  src: url("/fonts/seti.woff") format("woff");
}

html,
body {
  font-family: AllianceNo1 Web, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue,
    Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.icon::before {
  font-family: seti !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}
